# How to extract `year`, `month` and `day` from Date column using pandas ?

In [1]:
import pandas as pd

### Scenario
[Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [2]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].sample(frac=1).head(7).reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-12-11 06:17:06
1  2017-10-05 17:53:31
2  2017-11-27 17:26:31
3  2017-12-03 16:04:02
4  2017-12-20 18:57:53
5  2017-12-10 13:49:09
6  2017-10-04 07:04:57

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
Start date    7 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes

In [5]:
df["Start date"] = pd.to_datetime(df["Start date"])
df["Start date"]

0   2017-12-11 06:17:06
1   2017-10-05 17:53:31
2   2017-11-27 17:26:31
3   2017-12-03 16:04:02
4   2017-12-20 18:57:53
5   2017-12-10 13:49:09
6   2017-10-04 07:04:57
Name: Start date, dtype: datetime64[ns]

In [6]:
# Year
df["Start date"].dt.year

0    2017
1    2017
2    2017
3    2017
4    2017
5    2017
6    2017
Name: Start date, dtype: int64

In [7]:
# Month
df["Start date"].dt.month

0    12
1    10
2    11
3    12
4    12
5    12
6    10
Name: Start date, dtype: int64

In [8]:
df["Start date"].dt.day

0    11
1     5
2    27
3     3
4    20
5    10
6     4
Name: Start date, dtype: int64

In [12]:
df["year"] = df["Start date"].dt.year
df["month"] = df["Start date"].dt.month
df["day"] = df["Start date"].dt.day
df

           Start date  year  month  day
0 2017-12-11 06:17:06  2017     12   11
1 2017-10-05 17:53:31  2017     10    5
2 2017-11-27 17:26:31  2017     11   27
3 2017-12-03 16:04:02  2017     12    3
4 2017-12-20 18:57:53  2017     12   20
5 2017-12-10 13:49:09  2017     12   10
6 2017-10-04 07:04:57  2017     10    4

In [5]:
## Expected Output

           Start date  year  month  day
0 2017-12-10 15:14:29  2017     12   10
1 2017-11-08 13:11:51  2017     11    8
2 2017-12-13 17:14:56  2017     12   13
3 2017-10-10 19:28:11  2017     10   10
4 2017-10-09 00:12:58  2017     10    9
5 2017-12-18 16:30:07  2017     12   18
6 2017-12-10 17:07:54  2017     12   10

[Bike Sharing Dataset](https://archive.ics.uci.edu/ml/d`atasets/bike+sharing+dataset) from UCI Machine Learning Repository

## Summary
 - series should be in datetime format. If it is not then convert it using pd.to_datetime(series)
 - series.dt.year
 - series.dt.month
 - series.dt.day