In [1]:
import numpy as np
import pandas as pd

###  What is Unix (epoch) time?
The Unix epoch (or Unix time or POSIX time or Unix timestamp) is the number of seconds that has elapsed since January 1, 1970 (midnight UTC/GMT)

Source : https://www.epochconverter.com/

## Creating Scenario

In [15]:
time_stamps = [1591002721084, 1591002734647, 1591002776869, 
               1591274358579, 1591341658278, 1592894503046]
df = pd.DataFrame({"unix_time":time_stamps})
df

       unix_time
0  1591002721084
1  1591002734647
2  1591002776869
3  1591274358579
4  1591341658278
5  1592894503046

- If there are :
    - 10 digits, unix time is in seconds
    - 13 digits, unix time is in milliseconds
    - 16 digits, unix time is in microseconds

In [37]:
len(str(1591002721084))

13

## Expected Output

In [35]:
# Code

       unix_time               date_time
0  1591002721084 2020-06-01 09:12:01.084
1  1591002734647 2020-06-01 09:12:14.647
2  1591002776869 2020-06-01 09:12:56.869
3  1591274358579 2020-06-04 12:39:18.579
4  1591341658278 2020-06-05 07:20:58.278
5  1592894503046 2020-06-23 06:41:43.046

## Solution

## Using `pandas` library

In [ ]:
df["date_time"] = pd.to_datetime(df["unix_time"],unit='ms')
df

## Using `time` library

In [30]:
import time
pd.to_datetime(df["unix_time"].apply(lambda x: time.ctime(x/1000)))

0   2020-06-01 14:42:01
1   2020-06-01 14:42:14
2   2020-06-01 14:42:56
3   2020-06-04 18:09:18
4   2020-06-05 12:50:58
5   2020-06-23 12:11:43
Name: unix_time, dtype: datetime64[ns]

## Using `datetime` library

In [28]:
from datetime import datetime
df["unix_time"].apply(lambda x: datetime.utcfromtimestamp(x/1000))

0   2020-06-01 09:12:01.084
1   2020-06-01 09:12:14.647
2   2020-06-01 09:12:56.869
3   2020-06-04 12:39:18.579
4   2020-06-05 07:20:58.278
5   2020-06-23 06:41:43.046
Name: unix_time, dtype: datetime64[ns]