# How to extract `Day Of Year` from `Date/Timestamp` using pandas ?

In [1]:
import pandas as pd
print("pandas version :", pd.__version__)

pandas version : 0.24.2

### Creating Scenario

In [8]:
df = pd.DataFrame({"TIME_STAMP":['2021-01-01', '2021-01-31', '2021-02-01', '2021-10-23',
                                 '2021-11-06', '2021-11-26', '2021-11-27',
                                 '2021-12-31']})
df

   TIME_STAMP
0  2021-01-01
1  2021-01-31
2  2021-02-01
3  2021-10-23
4  2021-11-06
5  2021-11-26
6  2021-11-27
7  2021-12-31

 Day of Year (number 1,2,3,4,5,365)

In [9]:
## Expected Output
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])
df["day_of_year"] = df["TIME_STAMP"].dt.dayofyear
df

  TIME_STAMP  day_of_year
0 2021-01-01            1
1 2021-01-31           31
2 2021-02-01           32
3 2021-10-23          296
4 2021-11-06          310
5 2021-11-26          330
6 2021-11-27          331
7 2021-12-31          365

## DAY OF YEAR

In [18]:
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

In [19]:
df["TIME_STAMP"].dt.dayofyear

0      1
1    282
2    296
3    310
4    330
5    331
6    365
Name: TIME_STAMP, dtype: int64

In [10]:
df["day_of_year"] = df["TIME_STAMP"].dt.dayofyear
df

  TIME_STAMP  day_of_year
0 2021-01-01            1
1 2021-01-31           31
2 2021-02-01           32
3 2021-10-23          296
4 2021-11-06          310
5 2021-11-26          330
6 2021-11-27          331
7 2021-12-31          365

# THANK YOU :)