# How to extract `year`, `month` and `day` from Date using pandas ?

In [1]:
import pandas as pd

### Scenario

[Bike Sharing Dataset](https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset) from UCI Machine Learning Repository

In [2]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].sample(frac=1).head(7).reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-12-10 15:14:29
1  2017-11-08 13:11:51
2  2017-12-13 17:14:56
3  2017-10-10 19:28:11
4  2017-10-09 00:12:58
5  2017-12-18 16:30:07
6  2017-12-10 17:07:54

In [4]:
## Expected Output

           Start date  year  month  day
0 2017-12-10 15:14:29  2017     12   10
1 2017-11-08 13:11:51  2017     11    8
2 2017-12-13 17:14:56  2017     12   13
3 2017-10-10 19:28:11  2017     10   10
4 2017-10-09 00:12:58  2017     10    9
5 2017-12-18 16:30:07  2017     12   18
6 2017-12-10 17:07:54  2017     12   10