In [1]:
import numpy as np
import pandas as pd

In [52]:
df = pd.DataFrame({'Start date': {0: '2017-10-22 13:47:05',
  1: '2017-10-22 18:45:16',
  2: '2017-12-29 06:02:34',
  3: '2017-11-03 17:07:15',
  4: '2017-12-04 18:38:52',
  5: '2017-11-20 21:19:19',
  6: '2017-10-01 15:42:57'},
 'End date': {0: '2017-10-22 13:56:33',
  1: '2017-10-22 18:50:34',
  2: '2017-12-29 06:12:30',
  3: '2017-11-03 17:35:05',
  4: '2017-12-04 18:50:33',
  5: '2017-11-20 21:41:09',
  6: '2017-10-01 17:49:59'}})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
Start date    7 non-null object
End date      7 non-null object
dtypes: object(2)
memory usage: 168.0+ bytes

In [65]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].sample(frac=1).head(7).reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-10-12 08:08:30
1  2017-10-08 11:16:21
2  2017-11-06 17:21:27
3  2017-11-05 08:58:08
4  2017-12-09 22:39:37
5  2017-10-23 15:04:52
6  2017-11-03 16:06:43

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
Start date    7 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes

In [67]:
df["Start date"] = pd.to_datetime(df["Start date"])

In [68]:
df["year"] = df["Start date"].dt.year
df["month"] = df["Start date"].dt.month
df["day"] = df["Start date"].dt.day
df

           Start date  year  month  day
0 2017-10-12 08:08:30  2017     10   12
1 2017-10-08 11:16:21  2017     10    8
2 2017-11-06 17:21:27  2017     11    6
3 2017-11-05 08:58:08  2017     11    5
4 2017-12-09 22:39:37  2017     12    9
5 2017-10-23 15:04:52  2017     10   23
6 2017-11-03 16:06:43  2017     11    3