# How to extract `hour`, `minute` and `second` from Date Time column using pandas ?

In [8]:
import pandas as pd

### Creating Scenario
I have taken a small sample of [Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [9]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].iloc[[0, 50, 100, 140, 190, 200, 260]].reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
Start date    7 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes

In [11]:
df["Start date"] = pd.to_datetime(df["Start date"])

In [12]:
df["Start date"]

0   2017-10-01 15:23:25
1   2017-10-09 00:12:58
2   2017-10-23 19:55:03
3   2017-11-06 19:24:31
4   2017-11-26 12:25:49
5   2017-11-27 18:11:49
6   2017-12-18 08:02:36
Name: Start date, dtype: datetime64[ns]

In [14]:
# hour
df["Start date"].dt.hour

0    15
1     0
2    19
3    19
4    12
5    18
6     8
Name: Start date, dtype: int64

In [15]:
# minute
df["Start date"].dt.minute

0    23
1    12
2    55
3    24
4    25
5    11
6     2
Name: Start date, dtype: int64

In [18]:
df["Start date"].dt.second

0    25
1    58
2     3
3    31
4    49
5    49
6    36
Name: Start date, dtype: int64

In [21]:
df["hour"] = df["Start date"].dt.hour
df["minute"] = df["Start date"].dt.minute
df["second"] = df["Start date"].dt.second
df

           Start date  hour  minute  second
0 2017-10-01 15:23:25    15      23      25
1 2017-10-09 00:12:58     0      12      58
2 2017-10-23 19:55:03    19      55       3
3 2017-11-06 19:24:31    19      24      31
4 2017-11-26 12:25:49    12      25      49
5 2017-11-27 18:11:49    18      11      49
6 2017-12-18 08:02:36     8       2      36

## Summary
 - If required convert series(df["Start date"]) to datetime object using pd.to_datetime
 - series.dt.hour
 - series.dt.minute
 - series.dt.second