# How to create `pandas dataframe` from Scratch ?

In [3]:
# Expected Output
pd.DataFrame({"element":["Hydrogen", "Carbon", "Oxygen", "Sodium"],
"symbol":["H","C", "O", "Na"],
"atomic_number":[1, 6, 7, 8, 11]})

  element_name symbol  atomic_number
0     Hydrogen      H              1
1      Carborn      C              6
2     Nitrogen      N              7
3       Oxygen      O              8
4       Sodium     Na             11