# How to extract `Date` from `Timestamp` using pandas ?

In [1]:
import pandas as pd

### Creating Scenario
I have taken a small sample of [Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [10]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [3]:
## Expected Output

           TIME_STAMP        DATE
0 2017-10-01 15:23:25  2017-10-01
1 2017-10-09 00:12:58  2017-10-09
2 2017-10-23 19:55:03  2017-10-23
3 2017-11-06 19:24:31  2017-11-06
4 2017-11-26 12:25:49  2017-11-26
5 2017-11-27 18:11:49  2017-11-27
6 2017-12-18 08:02:36  2017-12-18

## Method 1 : `pandas.Series.dt.date`

Returns the date part of Timestamps without timezone information

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
TIME_STAMP    7 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes

In [5]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
TIME_STAMP    7 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 136.0 bytes

In [8]:
df

           TIME_STAMP
0 2017-10-01 15:23:25
1 2017-10-09 00:12:58
2 2017-10-23 19:55:03
3 2017-11-06 19:24:31
4 2017-11-26 12:25:49
5 2017-11-27 18:11:49
6 2017-12-18 08:02:36

In [7]:
# Code to extract Date
df["TIME_STAMP"].dt.date

0    2017-10-01
1    2017-10-09
2    2017-10-23
3    2017-11-06
4    2017-11-26
5    2017-11-27
6    2017-12-18
Name: TIME_STAMP, dtype: object

In [9]:
# Add the extracted date as a new column
df["DATE"] = df["TIME_STAMP"].dt.date
df

           TIME_STAMP        DATE
0 2017-10-01 15:23:25  2017-10-01
1 2017-10-09 00:12:58  2017-10-09
2 2017-10-23 19:55:03  2017-10-23
3 2017-11-06 19:24:31  2017-11-06
4 2017-11-26 12:25:49  2017-11-26
5 2017-11-27 18:11:49  2017-11-27
6 2017-12-18 08:02:36  2017-12-18

## Method 2 : Using `pandas.Series.dt.strftime`

Returns the string representation of the Date, depending on the selected format. Format must be a string containing one or several directives.

In [13]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

### Directive

- `%Y` :Year with century as a decimal number e.g. 1990, 2020
- `%m` : Month as a decimal number [01,12]
- `%b` : Localeâ€™s abbreviated month name [Jan, Dec]
- `%d` : Day of the month as a decimal number [01,31]
 
[pandas.Period.strftime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Period.strftime.html)

In [17]:
# 2020-12-01, "%Y-%m-%d"
df["TIME_STAMP"].dt.strftime("%Y-%m-%d")

0    2017-10-01
1    2017-10-09
2    2017-10-23
3    2017-11-06
4    2017-11-26
5    2017-11-27
6    2017-12-18
Name: TIME_STAMP, dtype: object

In [18]:
# 2020-Dec-01, "%Y-%b-%d"
df["TIME_STAMP"].dt.strftime("%Y-%b-%d")

0    2017-Oct-01
1    2017-Oct-09
2    2017-Oct-23
3    2017-Nov-06
4    2017-Nov-26
5    2017-Nov-27
6    2017-Dec-18
Name: TIME_STAMP, dtype: object

In [19]:
# 01-12-2020, "%d-%m-%Y"
df["TIME_STAMP"].dt.strftime("%d-%m-%Y")

0    01-10-2017
1    09-10-2017
2    23-10-2017
3    06-11-2017
4    26-11-2017
5    27-11-2017
6    18-12-2017
Name: TIME_STAMP, dtype: object

In [20]:
# 01-12-20, "%d-%m-%Y"
df["TIME_STAMP"].dt.strftime("%d-%m-%y")

0    01-10-17
1    09-10-17
2    23-10-17
3    06-11-17
4    26-11-17
5    27-11-17
6    18-12-17
Name: TIME_STAMP, dtype: object

# Summary

 - Convert the timestamp column into datetime object
 - series.dt.date
 - series.dt.strftime(directives)
 - series.dt.strftime("%Y-%m-%d")

# THANK YOU :)