# How to create `pandas dataframe` from Scratch ?

In [4]:
# Expected Output

  element_name atomic_symbol  atomic_number
0     Hydrogen             H              1
1       Carbon             C              6
2       Oxygen             O              8
3       Sodium            Na             11

In [5]:
import pandas as pd

Methods of creating pandas dataframe:
    - Using Dictionary and pd.DataFrame()
    - Using List of Lists and pd.DataFrame()

## Using Dictionary and pd.DataFrame()

In [6]:
df_dict = {"element_name":["Hydrogen", "Carbon", "Oxygen", "Sodium"],
          "atomic_symbol":["H", "C", "O","Na"],
          "atomic_number":[1,6,8,11]}
df_dict

{'element_name': ['Hydrogen', 'Carbon', 'Oxygen', 'Sodium'],
 'atomic_symbol': ['H', 'C', 'O', 'Na'],
 'atomic_number': [1, 6, 8, 11]}

In [7]:
pd.DataFrame(df_dict)

  element_name atomic_symbol  atomic_number
0     Hydrogen             H              1
1       Carbon             C              6
2       Oxygen             O              8
3       Sodium            Na             11

In [8]:
pd.DataFrame({"element_name":["Hydrogen", "Carbon", "Oxygen", "Sodium"],
          "atomic_symbol":["H", "C", "O","Na"],
          "atomic_number":[1,6,8,11]})

  element_name atomic_symbol  atomic_number
0     Hydrogen             H              1
1       Carbon             C              6
2       Oxygen             O              8
3       Sodium            Na             11

## Using List of Lists and pd.DataFrame

In [9]:
list_of_lists = [["Hydrogen", "H", 1],
                ["Carbon", "C", 6],
                 ["Oxygen", "O", 8],
                 ["Sodium", "Na", 11]]
list_of_lists

[['Hydrogen', 'H', 1],
 ['Carbon', 'C', 6],
 ['Oxygen', 'O', 8],
 ['Sodium', 'Na', 11]]

In [12]:
pd.DataFrame(list_of_lists, 
             columns = ["elemet_name", "atomic_symbol", "atomic_number"])

  elemet_name atomic_symbol  atomic_number
0    Hydrogen             H              1
1      Carbon             C              6
2      Oxygen             O              8
3      Sodium            Na             11

## Summary
 - Using Dictionary and pd.DataFrame() ***
 - Using List of Lists and pd.DataFrame()