# How to extract `Time` from `Timestamp` using pandas ?

In [3]:
import pandas as pd
pd.__version__

'0.25.1'

### Creating Scenario
I have taken a small sample of [Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [4]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [3]:
## Expected Output

           TIME_STAMP      TIME
0 2017-10-01 15:23:25  15:23:25
1 2017-10-09 00:12:58  00:12:58
2 2017-10-23 19:55:03  19:55:03
3 2017-11-06 19:24:31  19:24:31
4 2017-11-26 12:25:49  12:25:49
5 2017-11-27 18:11:49  18:11:49
6 2017-12-18 08:02:36  08:02:36

## Method 1 - Using `.dt.time`

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
TIME_STAMP    7 non-null object
dtypes: object(1)
memory usage: 184.0+ bytes

In [7]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
TIME_STAMP    7 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 184.0 bytes

In [8]:
# Code to extract Time
df["TIME_STAMP"].dt.time

0    15:23:25
1    00:12:58
2    19:55:03
3    19:24:31
4    12:25:49
5    18:11:49
6    08:02:36
Name: TIME_STAMP, dtype: object

In [10]:
df["TIME"] = df["TIME_STAMP"].dt.time
df

           TIME_STAMP      TIME
0 2017-10-01 15:23:25  15:23:25
1 2017-10-09 00:12:58  00:12:58
2 2017-10-23 19:55:03  19:55:03
3 2017-11-06 19:24:31  19:24:31
4 2017-11-26 12:25:49  12:25:49
5 2017-11-27 18:11:49  18:11:49
6 2017-12-18 08:02:36  08:02:36

## Method 2 - Using `.dt.strftime()`

In [11]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [12]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

### Directive
 - `%H` : Hour (24-hour clock) as a decimal number [00,23]
 - `%I` : Hour (12-hour clock) as a decimal number [01,12]
 - `%M` : Minute as a decimal number [00,59]
 - `%S` : Second as a decimal number [00,61]
 
[pandas.Period.strftime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Period.strftime.html)

## Extraing Date in `%H-%M-%S` Format

In [14]:
df["TIME_STAMP"].dt.strftime("%H-%M-%S")

0    15-23-25
1    00-12-58
2    19-55-03
3    19-24-31
4    12-25-49
5    18-11-49
6    08-02-36
Name: TIME_STAMP, dtype: object

In [20]:
df["TIME"] = df["TIME_STAMP"].dt.strftime("%H:%M:%S")
df

           TIME_STAMP      TIME   TIME_12
0 2017-10-01 15:23:25  15:23:25  03-23-25
1 2017-10-09 00:12:58  00:12:58  12-12-58
2 2017-10-23 19:55:03  19:55:03  07-55-03
3 2017-11-06 19:24:31  19:24:31  07-24-31
4 2017-11-26 12:25:49  12:25:49  12-25-49
5 2017-11-27 18:11:49  18:11:49  06-11-49
6 2017-12-18 08:02:36  08:02:36  08-02-36

## Extract Hour in 12 Hour Clock (`%I-%M-%S`)

In [21]:
df["TIME_STAMP"].dt.strftime("%I:%M:%S")

0    03:23:25
1    12:12:58
2    07:55:03
3    07:24:31
4    12:25:49
5    06:11:49
6    08:02:36
Name: TIME_STAMP, dtype: object

In [22]:
df["TIME_12"] = df["TIME_STAMP"].dt.strftime("%I:%M:%S")
df

           TIME_STAMP      TIME   TIME_12
0 2017-10-01 15:23:25  15:23:25  03:23:25
1 2017-10-09 00:12:58  00:12:58  12:12:58
2 2017-10-23 19:55:03  19:55:03  07:55:03
3 2017-11-06 19:24:31  19:24:31  07:24:31
4 2017-11-26 12:25:49  12:25:49  12:25:49
5 2017-11-27 18:11:49  18:11:49  06:11:49
6 2017-12-18 08:02:36  08:02:36  08:02:36

## Extract on Minute-Second(`%M-%S`) Information

In [25]:
df["TIME_STAMP"].dt.strftime("%M:%S")

0    23:25
1    12:58
2    55:03
3    24:31
4    25:49
5    11:49
6    02:36
Name: TIME_STAMP, dtype: object

In [26]:
df["MINUTE_SECOND"] = df["TIME_STAMP"].dt.strftime("%M:%S")
df

           TIME_STAMP      TIME   TIME_12 MINUTE_SECOND
0 2017-10-01 15:23:25  15:23:25  03:23:25         23:25
1 2017-10-09 00:12:58  00:12:58  12:12:58         12:58
2 2017-10-23 19:55:03  19:55:03  07:55:03         55:03
3 2017-11-06 19:24:31  19:24:31  07:24:31         24:31
4 2017-11-26 12:25:49  12:25:49  12:25:49         25:49
5 2017-11-27 18:11:49  18:11:49  06:11:49         11:49
6 2017-12-18 08:02:36  08:02:36  08:02:36         02:36

## Summary

- Convert TIME_STAMP column into datetime64 object
- series.dt.time 
- series.dt.strftime('%H:%M:%S') # 24 hour clock
- series.dt.strftime('%I:%M:%S') # 12 hour clock
- series.dt.strftime('%M:%S')

## THANK YOU :)