# How to extract `Time` from `Timestamp` using pandas ?

In [1]:
import pandas as pd

### Creating Scenario
I have taken a small sample of [Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [11]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [3]:
## Expected Output
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])
df["TIME"] = df.TIME_STAMP.dt.time
df

           TIME_STAMP      TIME
0 2017-10-01 15:23:25  15:23:25
1 2017-10-09 00:12:58  00:12:58
2 2017-10-23 19:55:03  19:55:03
3 2017-11-06 19:24:31  19:24:31
4 2017-11-26 12:25:49  12:25:49
5 2017-11-27 18:11:49  18:11:49
6 2017-12-18 08:02:36  08:02:36

## Method 1 - Using `.dt.time`

In [4]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

In [5]:
# Code to extract Date
df.TIME_STAMP.dt.time

0    15:23:25
1    00:12:58
2    19:55:03
3    19:24:31
4    12:25:49
5    18:11:49
6    08:02:36
Name: TIME_STAMP, dtype: object

In [6]:
df["TIME"] = df["TIME_STAMP"].dt.date
df

           TIME_STAMP        TIME
0 2017-10-01 15:23:25  2017-10-01
1 2017-10-09 00:12:58  2017-10-09
2 2017-10-23 19:55:03  2017-10-23
3 2017-11-06 19:24:31  2017-11-06
4 2017-11-26 12:25:49  2017-11-26
5 2017-11-27 18:11:49  2017-11-27
6 2017-12-18 08:02:36  2017-12-18

## Method 2 - Using `.dt.strftime()`

In [13]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

In [14]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])

### Directive

Directive
 - `%H` : Hour (24-hour clock) as a decimal number [00,23]
 - `%I` : Hour (12-hour clock) as a decimal number [01,12]
 - `%M` : Minute as a decimal number [00,59]
 - `%S` : Second as a decimal number [00,61]
 
[pandas.Period.strftime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Period.strftime.html)

In [19]:
df["TIME_STAMP"].dt.strftime("%H-%M-%S")  #"%Y-%d-%S"

0    15-23-25
1    00-12-58
2    19-55-03
3    19-24-31
4    12-25-49
5    18-11-49
6    08-02-36
Name: TIME_STAMP, dtype: object

In [16]:
df["TIME"] = df["TIME_STAMP"].dt.strftime("%H-%M-%S")
df

           TIME_STAMP      TIME
0 2017-10-01 15:23:25  15-23-25
1 2017-10-09 00:12:58  00-12-58
2 2017-10-23 19:55:03  19-55-03
3 2017-11-06 19:24:31  19-24-31
4 2017-11-26 12:25:49  12-25-49
5 2017-11-27 18:11:49  18-11-49
6 2017-12-18 08:02:36  08-02-36

## Extract Hour in 12 Hour Clock (`%I-%M-%S`)

In [17]:
df["TIME"] = df["TIME_STAMP"].dt.strftime("%I-%M-%S")
df

           TIME_STAMP      TIME
0 2017-10-01 15:23:25  03-23-25
1 2017-10-09 00:12:58  12-12-58
2 2017-10-23 19:55:03  07-55-03
3 2017-11-06 19:24:31  07-24-31
4 2017-11-26 12:25:49  12-25-49
5 2017-11-27 18:11:49  06-11-49
6 2017-12-18 08:02:36  08-02-36

## Extract on Minute-Second(`%M-%S`) Information

In [22]:
df["MINUTE-SECOND"] = df["TIME_STAMP"].dt.strftime("%M-%S")
df

           TIME_STAMP   TIME  MM-SS MINUTE-SECOND
0 2017-10-01 15:23:25  23-25  23-25         23-25
1 2017-10-09 00:12:58  12-58  12-58         12-58
2 2017-10-23 19:55:03  55-03  55-03         55-03
3 2017-11-06 19:24:31  24-31  24-31         24-31
4 2017-11-26 12:25:49  25-49  25-49         25-49
5 2017-11-27 18:11:49  11-49  11-49         11-49
6 2017-12-18 08:02:36  02-36  02-36         02-36

## Summary
 - Convert timestamp column to datetime object using pd.to_datetime
 - series.dt.time
 - series.dt.strftime("%H-%M-%S")
 - series.dt.strftime("%I-%M-%S")
 - series.dt.strftime("%M-%S")