# How to extract `hour`, `minute` and `second` from Date using pandas ?

In [17]:
import pandas as pd

### Scenario
[Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [18]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].sample(frac=1).head(7).reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-11-03 10:13:22
1  2017-11-16 17:25:05
2  2017-12-18 16:03:00
3  2017-10-21 12:36:37
4  2017-12-30 13:51:03
5  2017-11-21 19:07:57
6  2017-10-24 06:55:01

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
Start date    7 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes

In [21]:
df["Start date"] = pd.to_datetime(df["Start date"])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
Start date    7 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 136.0 bytes

In [24]:
# Hour
df["Start date"].dt.hour

0    10
1    17
2    16
3    12
4    13
5    19
6     6
Name: Start date, dtype: int64

In [25]:
# Minute
df["Start date"].dt.minute

0    13
1    25
2     3
3    36
4    51
5     7
6    55
Name: Start date, dtype: int64

In [27]:
df["Start date"].dt.second

0    22
1     5
2     0
3    37
4     3
5    57
6     1
Name: Start date, dtype: int64

In [33]:
df["hour"] = df["Start date"].dt.hour
df["minute"] = df["Start date"].dt.minute
df["second"] = df["Start date"].dt.second
df

           Start date  hour  minute  second
0 2017-11-03 10:13:22    10      13      22
1 2017-11-16 17:25:05    17      25       5
2 2017-12-18 16:03:00    16       3       0
3 2017-10-21 12:36:37    12      36      37
4 2017-12-30 13:51:03    13      51       3
5 2017-11-21 19:07:57    19       7      57
6 2017-10-24 06:55:01     6      55       1

## Summary
 - If required convert the series to datetime format using pd.to_datetime
 - series.dt.hour
 - series.dt.minute
 - series.dt.second