# How to extract `hour`, `minute` and `second` from Date Time column using pandas ?

In [1]:
import pandas as pd

### Creating Scenario
I have taken a small sample of [Bike Sharing Dataset](https://www.capitalbikeshare.com/system-data) from Capital Bike Share

In [7]:
df = pd.read_csv("../../datasets/capital-onebike.csv")
df = df[["Start date"]].iloc[[0, 50, 100, 140, 190, 200, 260]].reset_index(drop=True) #,'Start station'
df

            Start date
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36