## How to Split a pandas dataframe column by delimiter ?

In [1]:
import pandas as pd
print("pandas version : ",pd.__version__)

pandas version :  1.3.4

In [3]:
df_dict = {'ID': [3009, 129, 119, 120, 121, 122, 130, 3014, 266, 849, 174, 844],
  'V': ['IGHV7-B*01', 'IGHV7-B*01', 'IGHV6-A*01', 'GHV6-A*01', 'IGHV6-A*01',
        'IGHV6-A*01', 'IGHV4-L*03', 'IGHV4-L*03', 'IGHV5-A*01', 'IGHV5-A*04',
        'IGHV6-A*02','IGHV6-A*02'],
  'Prob': [1, 1, 0.8, 0.8056, 0.9, 0.805, 1, 1, 0.997, 0.401, 1, 1]}

df = pd.DataFrame(df_dict).head(6)
df

     ID           V    Prob
0  3009  IGHV7-B*01  1.0000
1   129  IGHV7-B*01  1.0000
2   119  IGHV6-A*01  0.8000
3   120   GHV6-A*01  0.8056
4   121  IGHV6-A*01  0.9000
5   122  IGHV6-A*01  0.8050

In [14]:
df["V"].str.split(pat=r"-|*", regex=True)

TypeError: split() got an unexpected keyword argument 'regex'

In [7]:
df["V"].str.split("-", expand=True)

       0     1
0  IGHV7  B*01
1  IGHV7  B*01
2  IGHV6  A*01
3   GHV6  A*01
4  IGHV6  A*01
5  IGHV6  A*01

In [15]:
import pandas as pd
 
df_stu = pd.DataFrame([['John','Math','num-100'],['Jack','Sci','x-100'],
                   ['Max','Phy','f-99'],['Rack','Music','num-80']], 
                  columns = ['Name','Subj','Mark'])
 
#column split based on delimiter hypen
 
# df_stu[[' Mark_','Mark']] = df_stu['Mark'].str.split('-',expand=True)
 
 
print(df_stu)

   Name   Subj     Mark
0  John   Math  num-100
1  Jack    Sci    x-100
2   Max    Phy     f-99
3  Rack  Music   num-80

### Reference:
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
- https://stackoverflow.com/questions/37333299/splitting-a-pandas-dataframe-column-by-delimiter
- https://devenum.com/split-pandas-dataframe-column-by-multiple-delimiters/